html {
  font-family: "Roboto", sans-serif;
}
.block-header {
  height: 80vh;
}
.safe-area {
  padding: 0 50px 0 150px;
}
.container-nav,
.nav,
.nav-social-networks,
.main-nav {
  display: flex;
  list-style: none;
}
.container-nav {
  justify-content: center;
}
.main-nav {
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: white;
  width: 90vw;
  margin-top: 40px;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a.logo {
  margin-left: 20px;
}
.all-nav {
  margin-right: 20px;
  text-transform: uppercase;
}
.nav > li > a {
  color: black;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}
.nav,
.nav-social-networks {
  gap: 10px;
}
.nav-social-networks {
  justify-content: flex-end;
}
.nav-social-networks > li > a > i {
  color: #2871b7;
  font-size: 30px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.bg img {
  object-fit: cover;
  width: 100%;
  min-height: 80vh;
}
.container-header {
  display: flex;
  min-width: 400px;
  width: 50vw;
  flex-direction: column;
  margin-top: 4em;
}

.container-header h1 {
  color: #2871b7;
  font-size: 45px;
  line-height: 52px;
  font-weight: bold;
}
.container-header p {
  font-size: 25px;
  line-height: 37px;
}
.btn-primary {
  background: #cd5a83;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  color: white;
}

.container-accompagnist {
  background-color: white;
  height: 50vh;
  margin-top: 100px;
  min-height: 600px;
}
.block-accordeon {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 70px;
}
.accordeon {
  background: #d8f2ff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  padding: 10px;
}
.accordeon p {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.accordeon i {
  padding: 10px;
}

.block-experience {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.block-experience div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
.block-experience > div > p {
  font-size: 20px;
  line-height: 36px;
}
.bg-grey {
  background: #f1f1f1;
  border-radius: 2px;
}
.bg-blue {
  background: #2871b7;
  border-radius: 2px;
  color: white;
}

footer {
  margin-top: 100px;
  background: #d8f2ff;
  display: flex;
  justify-content: space-around;
}
